{% extends "base.html" %}

{% block content %}
<header class="container mt-4">
  <h1>메인 페이지</h1>
</header>
<div class="container mt-4">
  <div class="row">
    {% for book in books %}
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">{{ book.description }}</p>
            <a href="{% url "books:detail" book.pk %}" class="btn btn-primary">Detail</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
